table {
    font-family: arial, sans-serif;
    // position: relative;
    // border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--bg1);
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
  }

  td, th {
    border-bottom: 1px solid var(--bg1);
    text-align: left;
    padding: 0px 8px;
  }

  thead tr{
    background: var(--bg1);
    border: 1px solid var(--bg1);
    border-top: 2px solid var(--bg1);
    position: sticky;
    top: 1px;
    z-index: 10;

    
    // background: white;
  }

  tr:nth-child(even) {
    background-color: var(--white);
  }
  
  tr{
    height: 28px !important;
  }

  tr:hover{
    td:not(tr td:nth-child(1)):not(tr td:last-child){
      background-color: var(--accent-light);
      cursor: pointer;
    }    
    
  }

.table-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}