$header: 84px;

.home {
    height: 100%;
}

.menu{
    background: var(--bg1);
    max-width: 240px;
    .menu-logo-box{
      height: $header;
      display: flex;
      align-items: center;
      // border-bottom: 1px solid var(--white);
      // justify-content: center;
      padding-left: 32px;
      margin-bottom: 4px;


    }

    .menu-item-box{
      margin-top: 30%;
      display: flex;
      flex-direction: column;
      height: 100%;
      .menu-active{
        background-color: var(--bg2);
        cursor: initial !important;

        .item-list{
          color: var(--hard-text) !important;
          .item-icon{
            color: var(--accent) !important;
          }
        }

      }
      .menu-item-list{
        width: 100%;
        height: 48px;

        display: flex;
        align-items: center;

        font-weight: 400;
        cursor: pointer;
        &:hover:not(.menu-active){
          background-color: var(--accent);
          .item-list{
            color: var(--primary) !important;
          }
        }

        .item-list{
          display: flex;
          align-items: center;
          justify-content: left;
          margin-left: 24px;
          letter-spacing: 1px;
          color: var(--light-text);
          .item-icon{
            color: var(--primary);
          }
          .item-label{
            font-size: 13px;
            margin-left: 12px;
            font-weight: 500;
          }
        }
      }
    }

}

// <div class="content-header">
//   <div>aqui vou botar uma barra de pesquisa</div>
//   <div class="user-info">
//     <div class="user-photo"></div>
//     <div class="user-name"></div>
//   </div>
// </div>

.content{
  background-color: var(--white);

  .content-header{
    display: flex;
    align-items: center;
    height: $header;
    // border-bottom: 1px solid var(--accent);
    .user-info{
      margin-right: 24px;
      margin-left: auto;
      display: flex;
      align-items: center;
      .user-photo{
        width: 48px;
        height: 48px;
        background-color: var(--white);
        border-radius: 100px;
        background-size: contain;
        box-shadow: var(--light-shadow);
      }
      .user-name{
        margin-right: 12px;
        color: var(--light-text);
      }
    }
  }
  .content-router{
    padding: 24px;

  }
}

.loading{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--accent) !important;
}
