<div class="home flex" *ngIf="authChecked">
    <div class="menu flex-1 flex flex-column">
      <div class="menu-logo-box">
        <app-logo routerLink="/home"></app-logo>
      </div>
        <div class="menu-item-box">
          <div class="menu-item-list" *ngFor="let menu of menuList" routerLink="{{menu.routerLink}}" routerLinkActive="menu-active">
            <div class="item-list">
              <div class="item-icon">
                <mat-icon>{{menu.icon}}</mat-icon>
              </div>
              <div class="item-label">
                {{menu.label}}
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="content flex-3 flex flex-column">
      <div class="content-header">
        <div class="ml-24" style="font-size: 9px;">{{authService?.user | json}}</div>
        <div class="user-info" *ngIf="authService?.user">
          <div class="user-name">Rafael Luiz Rehn</div>
          <div class="user-photo"  [style.background-image]="'url(' + authService?.user?.photoURL + ')'" routerLink="/auth/profile"></div>
        </div>
      </div>
      <div class="content-router">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<mat-spinner *ngIf="!authChecked"></mat-spinner>
