<div class="cardetail" *ngIf="veiculo">
  <div class="cardetail-header">
    <div class="main-img" [style.background-image]="'url(' + veiculo?.imagemPrincipal?.url + ')'"></div>
  </div>
  <div class="cardetail-content">
    <div class="main-info">
      <div class="info-marca">{{veiculo.marca}}</div>
      <div class="info-nome">{{veiculo.nome}}</div>
      <div class="info-valor">{{veiculo.valor}}</div>
    </div>
    <div class="default-info">
      <div class="default-info-box">
        <div class="info-icon"><i class="fa-regular fa-calendar"></i></div>
        <div class="info-content">
          <div class="info-label">Fabricação</div>
          <div class="info-value">{{veiculo.anoFabricacao}}/{{veiculo.anoModelo}}</div>
        </div>        
      </div>
      <div class="default-info-box">
        <div class="info-icon"><i class="fa-solid fa-road"></i></div>
        <div class="info-content">
          <div class="info-label">Km</div>
          <div class="info-value">150000</div>
        </div>        
      </div>
      <div class="default-info-box">
        <div class="info-icon"><i class="fa-solid fa-gears"></i></div>
        <div class="info-content">
          <div class="info-label">Câmbio</div>
          <div class="info-value">{{veiculo.cambio}}</div>
        </div>        
      </div>
      <div class="default-info-box">
        <div class="info-icon">
          <i class="fa-solid fa-gas-pump"></i>
        </div>
        <div class="info-content">
          <div class="info-label">Combustível</div>
          <div class="info-value">{{veiculo.combustivel}}</div>
        </div>        
      </div>
    </div>

    <div class="items-adicionais-box">
      <div class="info-icon"><i class="fa-solid fa-list"></i></div>
      <div class="items-adicionais-label">Adicionais do veículo</div>
    </div>
    <div class="adicionais-info">
      <div class="value" *ngFor="let info of veiculo.itemsAdicionais">{{info}}</div>
    </div>
    <div class="image-box">
      <div class="image" *ngFor="let img of images" [style.background-image]="'url(' + img.url + ')'"></div>
    </div>
  </div>
  <div class="cardetail-footer">
    <div class="contact-button">
      Whatsapp
    </div>
  </div>
</div>
<div class="btn-voltar" (click)="goBack()">
  <i class="fa-solid fa-arrow-left"></i>
</div>

<!-- <pre>{{veiculo | json}}</pre> -->
