<div class="cardetail" *ngIf="veiculo">
  <div class="cardetail-header">
    <div class="main-img" [style.background-image]="'url(' + veiculo?.imagemPrincipal?.url + ')'"></div>
  </div>
  <div class="cardetail-content">
    <div class="main-info">
      <div class="info-marca">{{veiculo.marca}}</div>
      <div class="info-nome">{{veiculo.nome}}</div>
      <div class="info-valor">{{veiculo.valor}}</div>
    </div>
    <div class="default-info">
      <div class="info-value flex flex-column">{{veiculo.anoFabricacao}}/{{veiculo.anoModelo}}</div>
      <div class="info-value">{{veiculo.cambio}}</div>
      <div class="info-value">{{veiculo.combustivel}}</div>
    </div>
    <div class="adicionais-info">
      <div class="value" *ngFor="let info of veiculo.itemsAdicionais">{{info}}</div>
    </div>
    <div class="image-box">
      <div class="image" *ngFor="let img of images" [style.background-image]="'url(' + img.url + ')'"></div>
    </div>
  </div>
  <div class="cardetail-footer">
    <div class="contact-button">
      Whatsapp
    </div>
  </div>
</div>
<div class="btn-voltar" (click)="goBack()">
  <i class="fa-solid fa-arrow-left"></i>
</div>

<!-- <pre>{{veiculo | json}}</pre> -->
