<div class="client-content">
  <div class="car-box">
    <!-- <div class="menu-h1">
        <i class="fa-solid fa-list"></i>
        Veículos
      </div> -->
    <div class="car-list">
      <div class="car-item" *ngFor="let veiculo of veiculos" [routerLink]="getRouterLink(veiculo)">
        <div class="action-btn">
          <i class="fa-solid fa-angles-right"></i>
        </div>
        <div class="car-img" [style.background-image]="'url(' + veiculo.imagemPrincipal?.url + ')'"></div>
        <div class="car-content">
          <div class="car-marca">{{veiculo.marca}} - {{veiculo.anoFabricacao}}/{{veiculo.anoModelo}}</div>
          <div class="car-name">{{veiculo.nome}}</div>
          <div class="car-price">R$ <div class="price">{{veiculo.valor}}</div></div>
        </div>
      </div>
    </div>
  </div>
</div>
