$client-primary: rgb(211, 60, 93);

.client-content{
    padding: 32px;
  }

  .menu-h1{
    color: black;
    margin-bottom: 16px;
    font-weight: bold;
  }

  .car-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 24px;

    // display: flex;
    // flex-wrap: wrap;
    // gap: 24px;
    .car-item{
      flex-grow: 1;
      // min-width: 280px;
      // max-width: 460px;
      box-shadow: var(--light-shadow);
      overflow: hidden;
      transition: all .15s;
      cursor: pointer;
      border: 1px solid transparent;
      &:hover{
        box-shadow: var(--hard-shadow);
        border: 1px solid $client-primary;
      }
      .car-img{
        background-size: cover;
        height: 240px;
        width: 100%;
        background-position: center;
      }
      .car-content{
        padding: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .car-marca-year{
          display: flex;
          align-items: center;
          color: rgb(80, 80, 80);
          .car-marca{
            flex: 1;
            font-size: 13px;
          }
          .car-year{
            font-size: 11px;
            margin-left: auto;
          }
        }
        .car-name{
          font-weight: 500;
          font-size: 16px;
        }
        .car-price-action{
          display: flex;
          align-items: center;
          position: relative;
          .car-price{
            flex: 1;
          }
          .car-action i{
            bottom: 0px;
            right: 0px;
            position: absolute;
            color: $client-primary;
            border: 0px;
          }
        }
      }
    }
  }
