// <div class="logo-box">
//   <div class="logo-main">Motorweb</div>
//   <div class="logo-label">Conectando clientes!</div>
// </div>.

.logo-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo-main{
    color: var(--white);
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 1.4px;
    background-color: var(--accent);
    padding: 12px;
  }
  .logo-label{
    color: var(--light-text);
  }

}
