<div class="client-container">
  <div class="client-navbar">
      <div class="navbar-item navbar-logo" routerLink="home">LOGO</div>
      <div class="navbar-item" routerLink="home" routerLinkActive="navbar-active">home</div>
      <div class="navbar-item" routerLink="veiculos" routerLinkActive="navbar-active">veiculos</div>
      <div class="navbar-item" routerLink="sobre" routerLinkActive="navbar-active">sobre</div>
      <div class="navbar-item" routerLink="contato" routerLinkActive="navbar-active">contato</div>
  </div>

  <router-outlet></router-outlet>

  <div class="client-footer">
      <div class="footer-logo">LOGO</div>
      <div class="footer-links">
        <div class="footer-link">link</div>
        <div class="footer-link">link</div>
        <div class="footer-link">link</div>
        <div class="footer-link">link</div>
      </div>
  </div>
  <div class="app-footer" (click)="goAdmin()">
    motorweb.store
  </div>
</div>
