$client-primary: rgb(211, 60, 93);


.client-navbar{
  background-color: black;
  height: 80px;
  min-height: 80px;
  border-bottom: 1px solid $client-primary;
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 0px 36px;
  .navbar-logo{
    flex: 1;
  }
  .navbar-item{
    color: white;
  }
}

.client-footer{
  background-color: black;
  color: white;
  min-height: 180px;
  margin-top: auto;
  display: flex;
  padding: 32px;
  align-items: center;
    display: flex;
    .footer-logo{
      font-size: 24px;
      font-weight: bolder;
    }
    .footer-links{
      margin-left: auto;
      display: flex;
      .footer-link{
        width: 60px;
      }
    }
}

.app-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  color: rgb(192, 192, 192);
  padding: 4px 12px;
  font-size: 10px;
  cursor: pointer;
}
