<div class="client-container">
  <div class="client-header">
    <div class="container">
      <div class="jumbo-header">
        <div class="jumbo-text">
          <h1>LOGO</h1>
          <h2>Compra e venda de veiculos!</h2>
          <button>
            My Action Button
            <span>
              <i class="fa-solid fa-right-long"></i>
            </span>
          </button>
        </div>
        <div class="jumbo-img"></div>
      </div>
      <!-- <div class="p-16">
        <h4>Vocês está acessando a pagina de vendas de</h4>
        <h1>{{clientSlug}}</h1>
        <pre>{{clientInfo|json}}</pre>
      </div> -->
    </div>
  </div>
  <div class="client-content">
    <div class="container">
      <div class="car-box">
        <div class="menu-h1">Veículos</div>
        <div class="car-list">
          <div class="car-item" *ngFor="let veiculo of veiculos">
            <div class="car-img" [style.background-image]="'url(' + veiculo.imagemPrincipal?.url + ')'"></div>
            <div class="car-content">
              <div class="car-marca-year">
                <div class="car-marca">{{veiculo.marca}}</div>
                <div class="car-year">{{veiculo.anoFabricacao}} / {{veiculo.anoModelo}}</div>
              </div>
              <div class="car-name">{{veiculo.nome}}</div>
              <div class="car-price-action">
                <div class="car-price">R$ {{veiculo.valor}}</div>
                <div class="car-action">
                  <button class="button-detalhes">Detalhes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="client-footer">
    <div class="container">
      <div class="footer-logo">LOGO</div>
      <div class="footer-links">
        <div class="footer-link">link</div>
        <div class="footer-link">link</div>
        <div class="footer-link">link</div>
        <div class="footer-link">link</div>
      </div>
    </div>
  </div>
</div>
