::ng-deep mat-form-field{
  width: 100%;
}

.form-box{
  padding: 12px;
  border-radius: 4px;
  border: solid 1px var(--bg2);
  max-width: 400px;
}
.form-builder{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
