.btn{
  min-width: 140px;
  padding: 0px 16px;
  height: 32px;
  border: 0px solid;
  color: var(--primary);
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--white);
  // color: var(--bg3);
  transition: all .15;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
  font-weight: 600;
  &:hover:not(:disabled){
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.2);
  }
  &:disabled{
    background-color: var(--bg1);
    color: var(--bg3);
    cursor: initial !important;
  }
  input[type="file"] {
    display: none;
  }
}
.btn mat-icon{
  margin-right: 8px;
}

.btn-accent{
  background-color: var(--accent);
  &:disabled{
    background-color: var(--accent-light);
    color: var(--bg3);
  }
}

.btn-warn{
  background-color: var(--warn);
  &:disabled{
    background-color: var(--warn-light);
    color: var(--bg3);
  }
}

