:host{
  ::ng-deep{
    app-view-child,
    app-veiculos-view,
    app-file-upload,
    app-veiculos-list,
    app-veiculos-edit,
    app-table,
    app-utilitarios-list,
    app-imagens-veiuclos,
    form{
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
  }
  ::ng-deep{
    app-header-actions{
      margin-bottom: 16px;
    }
  }
  ::ng-deep{
    app-form{
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;
    }
  }
}
