.upload-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    .item-label{
      font-size: 11px;
      color: var(--light-text);
    }
    // width: 500px;
    .file-sample{
        $size: 120px;
        width: $size + 60px;
        min-width: $size + 60px;
        height: $size;
        min-height: $size;
        background-color: var(--bg1);
        background-size: 120%;
        background-position: center;
        border: 3px solid transparent;
        box-shadow: var(--light-shadow);
        border-radius: 4px;
        transition: all .2s;
    }
    button{
        margin-left: auto;
    }
    .file-selected{
      border: 3px solid var(--accent) !important;
      background-size: 140%;
      box-shadow: var(--hard-shadow);
    }
}

