<div class="view-input-box">
    <div class="view-input-label">{{viewInput.label}}</div>
    <div class="view-input-value" [ngSwitch]="viewInput.mask">
        <div *ngSwitchCase="'checkbox'" style="margin-left: auto;">
            <mat-icon *ngIf="viewInput.value">checked</mat-icon>
        </div>
        <div *ngSwitchCase="'currency'" style="margin-left: auto;">{{viewInput.value | currency:'BRL'}}</div>
        <div *ngSwitchCase="'integer'" style="margin-left: auto;">{{viewInput.value}}</div>
        <div *ngSwitchCase="'radio'">
            {{viewInput.value}}
        </div>

        
        <div *ngSwitchDefault>{{viewInput.value}}</div>        
    </div>
</div>