<app-header-actions [headerInfo]="headerInfo" [breadcrumb]="breadcrumb"></app-header-actions>
<h2>TODO LIST</h2>
<p>colocar input type toggle, textarea</p>
<p>colocar busca na tabela</p>
<p>criar overview</p>
<p>paginacao da tabela?</p>
<p>colocar ordenacao na tabela</p>
<p>refatorar classes abstratatas</p>
<p>classe abstrata nao pode instanciar html</p>
<p>cada modulo deve ter seu proprio servico extendido a classe abstrata</p>

<br>
<h2>Criar input de selecao</h2>

<br>
<h2>Criar tela de parametros</h2>


<p>quantas pessoas estao acessando, o que estao mais acessando, curtidas?</p>
<br>
<h2>fileupload</h2>
<p>adicionar tamanho maximo do arquivo</p>
<p>adicionar limite maximo de arquivos</p>
<p>criar thumbnails</p>

<br>
<h2>Authentication</h2>
<p>colocar login por email</p>
<p>confirmacao email</p>
<p>recuperacao de conta</p>
