<app-header-actions [headerInfo]="headerInfo" [breadcrumb]="breadcrumb"></app-header-actions>
<h2>TODO LIST</h2>
<p>colocar input type toggle, textarea</p>
<p>colocar busca na tabela</p>
<p>paginacao da tabela?</p>
<p>colocar ordenacao na tabela</p>


<p>quantas pessoas estao acessando, o que estao mais acessando, curtidas?</p>
<br>
<h2>fileupload</h2>
<p>adicionar tamanho maximo do arquivo</p>
<p>adicionar limite maximo de arquivos</p>
<p>criar thumbnails</p>

<br>
<h2>Autentication</h2>
<p>rever login, as vezes nao esta fazendo corretamente, precisando fazer refresh na pagina</p>
