<div class="home flex" *ngIf="authChecked">
    <div class="menu flex-1 flex flex-column">
      <div class="menu-logo-box">
        <app-logo routerLink="/home"></app-logo>
      </div>
        <div class="menu-item-box">
          <div class="menu-item-list" *ngFor="let menu of menuList" routerLink="{{menu.routerLink}}" routerLinkActive="menu-active" [ngClass]="menu.clazz">
            <div class="item-list">
              <div class="item-icon">
                <mat-icon>{{menu.icon}}</mat-icon>
              </div>
              <div class="item-label">
                {{menu.label}}
              </div>
            </div>
          </div>
          <div class="menu-item-list mb-40-p mt-auto" (click)="logout()">
            <div class="item-list">
              <div class="item-icon">
                <mat-icon>login</mat-icon>
              </div>
              <div class="item-label">
                Sair
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="content flex-3 flex flex-column">
      <div class="content-header">
        <div (click)="acessarWebsite()">Acessar website</div>
        <div class="ml-24" style="font-size: 9px;"></div>
        <div class="user-info" *ngIf="authService?.user">
          <div class="user-name">{{authService?.user?.displayName}}</div>
          <div class="user-photo"  [style.background-image]="getProfileImage()" routerLink="/home/profile"></div>
        </div>
      </div>
      <div class="content-router">

        <router-outlet></router-outlet>
      </div>
    </div>
</div>


<div class="loading">
  <mat-spinner *ngIf="!authChecked"></mat-spinner>
</div>
