.client-header{
  background-color: black;
  display: flex;
  .jumbo-text{
    padding: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 350px;
    h1,h2{
      color: white;
    }
    h1{
      font-size: 48px;
      font-weight: bolder;
    }
    button{
      background-color: var(--client-primary);
      color: white;
      border-radius: 0px;
      border: 0px;
      max-width: 280px;
      height: 44px;
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 0px 16px;
      text-transform: uppercase;
      span{
        margin-left: 16px;
      }
    }
  }
  .jumbo-img{
    flex: 2;
    background: url('/assets/img/logo-home.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    min-width: 200px;
    min-height: 100%;
    height: 350px;
  }    
}

@media (max-width: 540px) {
  .client-header{
    min-height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    .jumbo-text{}
    .jumbo-img{
    }
  }
}
