<div>entityKey: {{entityKey}}</div>

<label>
    <input
      #inputFile
      type="file"
      class="text-nowrap text-truncate"
      multiple
      (change)="selectFile($event)"
    />
  </label>

  <button
    class="btn btn-success btn-sm"
    [disabled]="!selectedFiles"
    (click)="upload()"
  >
    Upload
  </button>

  <div *ngFor="let file of currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ file.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: file.percentage + '%' }"
    >
      {{ file.percentage }}%
    </div>
  </div>


  <!-- //////////////////// -->

  <div class="card">
    <div class="card-header">List of Files</div>
    <div
      class="list-group list-group-flush"
      *ngFor="let file of fileUploads"
    >
      <div class="list-group-item">
        <app-upload-details [fileUpload]='file'></app-upload-details>
      </div>
    </div>
  </div>
