.btn {
    height: 30px;
  }

  .card-box{
    height: 100%;
    overflow: hidden;
    margin-top: 16px;
    .card-content{
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      gap: 16px;
      height: 100%;
      overflow: auto;
    }
  }

  .input-upload-box{
    display: flex;
  }

  .file-upload-btn-bar{
    margin: 16px 0px;
    display: flex;
    gap: 16px;
  }
