:root{
  --primary: rgb(6, 9, 49);
  --accent: rgb(2, 202, 125);
  --white: white;
  --bg1: rgb(240, 240, 240);
  --bg2: rgb(211, 211, 211);
  --bg3: rgb(197, 197, 197);
  --bg4: rgb(148, 148, 148);
  --light-text: rgb(116, 116, 116);
  --hard-text: black;
}

/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '../src/assets/flex.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  overflow: hidden;}

h1, h2{
  color: var(--hard-text)
}
h3,h4,p{
  color: var(--light-text);
}


h1,h2,h3,h4,p{
  margin: 0px !important;
}