:root{
  --primary: rgb(6, 9, 49);
  --accent: rgb(2, 202, 125);
  --accent-light: rgb(230, 248, 241);
  --warn: rgb(233, 152, 31);
  --warn-light: rgb(247, 230, 205);
  --white: white;
  --bg1: rgb(240, 240, 240);
  --bg2: rgb(211, 211, 211);
  --bg3: rgb(197, 197, 197);
  --bg4: rgb(148, 148, 148);
  --light-text: rgb(116, 116, 116);
  --hard-text: black;
  --light-shadow: 2px 2px 8px 2px rgba(0,0,0,0.1);
  --hard-shadow: 2px 2px 8px 2px rgba(0,0,0,0.2)
}


:root{
  --client-primary: rgb(211, 60, 93);
  --client-dark-text: rgb(0,0,0);
  --client-light-text: rgb(59, 59, 59);
}


/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '../src/assets/flex.scss';

*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
html, body {
  height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  overflow: hidden;}

h1, h2{
  color: var(--hard-text)
}
h3,h4,p{
  color: var(--light-text);
}


h1,h2,h3,h4,p{
  margin: 0px !important;
}

.entity-children-container{
  display: flex;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: var(--accent);
}
.mat-input-element {
  caret-color: var(--accent);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--accent) !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-underline{
  // background-color: red !important;;
}
.mat-form-field-underline {
  // background-color: var(--accent) !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--accent) !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--accent) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--accent) !important;
}

.text-accent{
  // color: var(--accent);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
