:root{
  --primary: blue;
  --acent: red;
  --bg1: rgb(218, 218, 218);
  --bg2: rgb(197, 197, 197);
  --bg3: black;
  --light-text: rgb(92, 92, 92);
  --hard-text: black;
}

/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '../src/assets/flex.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  overflow: hidden;}


