.breadcrumb-box{
    display: flex;
    gap: 8px;

    .bradcrumb-item{
        opacity: 0.8;
        display: flex;

        .breadcrumb-arrow{
            color: var(--accent);
            margin-left: 8px;
            text-decoration: none !important;
        }

        .breadcrumb-label:hover:not(.breadcrumb-box .bradcrumb-active .breadcrumb-label){
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .bradcrumb-active{
        font-weight: bolder;
    }

}