.icon-btn{
    // background-color: var(--white);
    color: var(--accent);
    width: 36px;
    height: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

    // box-shadow: var(--light-shadow);
    &:hover:not(.icon-disabled) {
      cursor: pointer;
        background-color: var(--bg1) !important;
    }
}

.icon-disabled{
  color: var(--bg2) !important;
  cursor: not-allowed;
}
