.header-name-box{
    display: flex;
    font-size: 22px;
    margin: 12px 0px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--accent);
    align-items: center;
    height: 45px;
    .header-t1{
        font-weight: bolder;
        letter-spacing: 1px;
    }
    .header-t2{
        margin-left: 12px;
    }

    // .icon-btn-edit{
    //     margin-left: 12px;
    // }

    // .icon-btn-back{
    //     margin-right: 12px;
    // }
}
